body {
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#top {
  border: 1px solid white;
  margin: 5px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid white;
  padding: 30px;
  margin: 5px;
  background-color: #474e5c;
  width: 200px;
}

.card p {
  font-size: 20px;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid white;
}

button:hover {
  cursor: pointer;
}

footer p {
  text-align: left;
  font-size: 15px;
  margin: 20px 10px;
}

a {
  color: aquamarine;
}

a:hover {
  text-decoration: none;
}
